header(class='header')
  nav(class='nav nav--tours')
    a(href="#" class="nav__el") All tours
    form(class="nav__search")
      button(class="nav__search-btn")
        svg
          use(xlink:href="img/icons.svg#icon-search")
      input(type="text" placeholder="Search tours" class="nav__search-input")